{% extends "base.html" %}
{% block title %} Home {% endblock %}

{% block content %}
    {% if user.is_authenticated %}
    <main>
    <section id="articles-section">
      <h2>Recipes</h2>
      <h3>Search Recipes</h3>
      <form action="" method="post" novalidate>
        {% csrf_token %}
        {{ search.as_p }}
        <button type="submit" name="search_submit">Search</button>
      </form>
      <div id="articles-container">
        <!-- Articles will be displayed here -->
        {% for post in blog_posts %}
        <div class="article-card">
          <h3>{{ post.title }}</h3>
          <p>{{ post.content }}</p>
          <p><strong>Tags:</strong> 
            {% for tag in post.tags.all %} 
              {{ tag.text }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
          </p>
          <p><small>Published on: {{ post.publish_date }}</small></p>
          {% if user.is_superuser %}
          <form method="post" action="{% url 'delete_post' post.id %}">
            {% csrf_token %}
            <button type="delete" name="delete_post" onclick="return confirm('Do you really want to delete this post?')">Delete</button>
          </form>
          {% endif %}
        </div>
      {% empty %}
        <p>No blog posts found.</p>
      {% endfor %}
      </div>
    </section>
    {% if user.is_superuser %}
    <section id="new-article-section">
      <h2>Create a New Article</h2>
      <form method="post">
        {% csrf_token %}
        {{ blog_post_form.as_p }}
        <button type="submit" name="blog_post_submit">Publish</button>
      </form>
    </section>
    {% endif %}
  </main>
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Log Out</button>
    </form>
    {% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">Log In</a>
    <p>No account yet?</p>
    <a href="{% url 'signup' %}">Sign Up</a>
    {% endif %}
{% endblock %}